.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background: var(--calendar-bg);
  border-bottom: 1px solid var(--calendar-border);
}

.yearSelector {
  padding: 6px 20px;
}

.button {
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.button:hover {
  opacity: 0.7;
  background: lightgray;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

@media (max-width: 480px) {
  .title {
    font-size: 16px;
  }
}
